# =========================
# Node & Frontend (React/Vite)
# =========================
node_modules/
dist/
dist-ssr/
build/
.npm/

# =========================
# Python & Backend (FastAPI)
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Виртуальные окружения
venv/
env/
.env_back/
.venv/

# =========================
# Базы данных
# =========================
*.sqlite3
*.sqlite
*.db
unifood.db

# =========================
# Секреты и конфиги окружения
# =========================
.env
.env.*
!.env.example

# =========================
# IDE и Системные файлы
# =========================
.idea/
.vscode/
.DS_Store
Thumbs.db
